# Variables de entorno para Angular
# Las variables se convertirán automáticamente a camelCase
# Ejemplo: BACKEND_URL -> backendUrl, API_KEY -> apiKey

PRODUCTION="false"
BACKEND_URL="http://localhost:3000"
