<form [formGroup]="rutaForm" class="p-4 space-y-4">
  <div class="flex">
    <div class="w-full">
      <app-ruta-form-options
        [form]="rutaForm"
        [tipoTrayecto]="tipoTrayecto()"
        [esVueltaIgual]="esVueltaIgual()"
        (tipoTrayectoChange)="tipoTrayecto.set($event)"
        (toggleVuelta)="toggleVueltaSeparada()"
      ></app-ruta-form-options>
    </div>
  </div>

  <div class="flex flex-col xl:flex-row gap-4 xl:gap-6 min-h-[400px]">
    <div class="flex flex-col gap-4 flex-1 xl:min-w-0">
      <app-ruta-form-map
        [form]="rutaForm"
        mapId="map"
        [title]="
          'Mapa (' +
          (tipoTrayecto() === 'vuelta'
            ? 'Vuelta'
            : tipoTrayecto() === 'ambos' && esVueltaIgual()
              ? 'Ida y Vuelta'
              : 'Ida') +
          ')'
        "
        distanceControlName="distancia"
        timeControlName="tiempoEstimado"
        class="h-full flex-1"
      ></app-ruta-form-map>
    </div>

    <div class="xl:w-[380px] xl:shrink-0 flex flex-col space-y-3">
      <div>
        <app-ruta-form-sections
          [form]="rutaForm"
          [paradasArray]="paradasIdaFA"
          type="ida"
          [title]="
            'Paradas (' +
            (tipoTrayecto() === 'vuelta'
              ? 'Vuelta'
              : tipoTrayecto() === 'ambos' && esVueltaIgual()
                ? 'Ida y Vuelta'
                : 'Ida') +
            ')'
          "
          [legDistances]="legDistances['ida']"
          [readonly]="false"
          origenControlName="origen"
          origenLatControlName="origenLat"
          origenLngControlName="origenLng"
          destinoControlName="destino"
          destinoLatControlName="destinoLat"
          destinoLngControlName="destinoLng"
          [hasDestino]="hasDestinoIda()"
          [allowOpenRoute]="tipoTrayecto() !== 'ambos'"
          [disableDestinoToggle]="editMode() && !!ruta()?.rutaIda?.destino"
          (onAddParada)="addParada($event.type, $event.index)"
          (onRemoveParada)="removeParada($event.type, $event.index)"
          (onRemoveDestino)="removeDestino($event.type)"
          (onToggleDestino)="toggleDestino($event.type, $event.value)"
        ></app-ruta-form-sections>
      </div>
    </div>
  </div>

  @if (showVuelta()) {
    <div class="border-t border-text/10 pt-6 mt-2">
      <div class="flex flex-col xl:flex-row gap-4 xl:gap-6 min-h-[400px]">
        <div class="flex flex-col gap-4 flex-1 xl:min-w-0">
          <app-ruta-form-map
            [form]="rutaForm"
            mapId="map-vuelta"
            title="Mapa (Vuelta)"
            distanceControlName="distanciaVuelta"
            timeControlName="tiempoEstimadoVuelta"
            class="h-full flex-1"
          ></app-ruta-form-map>
        </div>

        <div class="xl:w-[380px] xl:shrink-0 flex flex-col space-y-3">
          <div>
            <app-ruta-form-sections
              [form]="rutaForm"
              [paradasArray]="paradasVueltaFA"
              type="vuelta"
              title="Paradas (Vuelta)"
              [legDistances]="legDistances['vuelta']"
              [readonly]="tipoTrayecto() === 'ambos' && esVueltaIgual()"
              origenControlName="origenVuelta"
              origenLatControlName="origenLatVuelta"
              origenLngControlName="origenLngVuelta"
              destinoControlName="destinoVuelta"
              destinoLatControlName="destinoLatVuelta"
              destinoLngControlName="destinoLngVuelta"
              [hasDestino]="hasDestinoVuelta()"
              [allowOpenRoute]="tipoTrayecto() !== 'ambos'"
              [disableDestinoToggle]="editMode() && !!ruta()?.rutaVuelta?.destino"
              (onAddParada)="addParada($event.type, $event.index)"
              (onRemoveParada)="removeParada($event.type, $event.index)"
              (onRemoveDestino)="removeDestino($event.type)"
              (onToggleDestino)="toggleDestino($event.type, $event.value)"
            ></app-ruta-form-sections>
          </div>
        </div>
      </div>
    </div>
  }
</form>
